<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="estilo.css?version=<%= Math.random() %>">


    <title>Document</title>
</head>

<body style="position: relative;">
    <!-- CHAT BOX ALMACENA ABSOLUTAMENTE TODO -->

    <div class="chatbox">
        <div class="personasline">
            <p class="ponlinetexto">Personas online: </p>
            <p class="online"></p>
        </div>
        
        <div class="previewofcamera desactivado2">
            <video class="videopreview"></video>
            <div class="cameracontrols">
               <div>
                    <div class="videobuttonhover">
                        <button class="videobutton grabarvideo "><img src="./camera.png" alt="grabar"></button>
                        <button class="videobutton detenervideo desactivado"><img src="./camerared.png" alt="grabar"></button>
                    </div>
                    <div class="photobuttonhover">
                        <button class="capturafoto"><img src="./camera1.png" alt="grabar"></button>
                        </div>
                </div>
                <div>
                
            </div>
            </div>


        </div>
        <!-- CAJA QUE ALMACENA LOS MENSAJES, AUDIOS, VIDEOS, FOTOS -->
        <div class="chatmessages">
        </div>

        <!-- INPUT DE MENSAJES -->
        <div class="chatform">
            <form action="" method="get" class="form" class="formulario">
                <div class="textareacontainer">
                    <textarea class="input forminput" name="mensaje" placeholder="Escribir un mensaje"></textarea>
                </div>
                <!-- BOTN DE NOTAS DE VOZ -->
                <div class="audio">
                    <div class="audiohover">
                        <button class="nota grabarnota "><img src="./record.png" alt="grabar"></button>
                        <button class="nota cortarnota desactivado"><img src="./recording.png" alt="grabar"></button>
                    </div>
                </div>
                <!-- BOTN DE NOTAS DE ENVIO DE MENSAJES -->
                <div class="submitcontainer">
                    <div class="submithover">
                        <input type="submit" value="" class="formsubmit">
                    </div>

                </div>


            </form>
            <button class="camera camera1">soycamera1</button>
            <button class="camera camera2">soycamera2</button>


        </div>
    </div>
    <br>
    <br>

    <% if (error) { %>
        <div class="error-message">
            <%= error %>
        </div>
        <% } %>
            <a href="/logout">Logout</a>


            <script src="clientid.js"></script>
            <script src="/socket.io/socket.io.min.js"></script>
            <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
            <script src="voicenote.js?version=<%= Math.random() %>" type="text/javascript"></script>
            <script src="video.js?version=<%= Math.random() %>" type="text/javascript"></script>
            <script src="photo.js?version=<%= Math.random() %>" type="text/javascript"></script>
            <script src="app.js?version=<%= Math.random() %>" type="text/javascript"></script>

</body>

</html>